.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #FFF;
  height: 90vh;
}

.map {
  max-width: 100%;
  height: auto;
}

.state-label {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-size: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.state-label::before {
  content: "State: ";
}

.county-label {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-size: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.county-label::before {
  content: "County: ";
}

.county-law-label {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-size: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.city-list-label h3 {
  font-size: 30px;
  margin: 0;
}

.city-list-label {
  position: absolute;
  top: 35%;
  left: 10px;
  z-index: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.city-name {
  margin-bottom: 5px;
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
}

.city-law-list-label {
  position: absolute;
  top: 35%;
  right: 10px;
  z-index: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  line-height: 1;
}
.back-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #fff;
  backface-visibility: hidden;
  height: 40px;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.back-button:not(:disabled):hover {
  transform: scale(1.05);
}

.back-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.back-button:focus {
  outline: 0 solid transparent;
}

.back-button:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.back-button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.back-button:focus:not(:focus-visible):before {
  border-width: 0;
}

.back-button:not(:disabled):active {
  transform: translateY(.125rem);
}